* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #ffb6c1;
}
  
#wrapper {
    padding: 100px;
    border-radius: 30px;
    background-color: #FFA07A;
}
  
#chrono {
    text-align: center;
    font-size: 100px;
    margin-bottom: 30px;
}
  
button {
    font-size: 25px;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
  
button:not(:last-child) {
    margin-right: 15px;
}
  
button:nth-child(2) {
    background-color: #dfdfdf;
}
  
button:last-child {
    background-color: #E9967A;
    color: white;
}
